.user-profile {
    margin: 128px auto;
    width: 640px;
    color: var(--text-color);
}

@media (max-width: 992px) {
    .user-profile {
        width: 90%;
        margin: 96px auto;
    }
}

@media (max-width: 767px) {
    .user-profile {
        width: 95%;
    }
}

.user-profile__title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.user-profile__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-profile__user-info {
    display: flex;
    align-items: center;
}

.user-profile__logout {
    display: flex;
    align-items: center;
    background-color: var(--main-background-color);
    border: 0;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    border-radius: 999px;
    cursor: pointer;
    transition: all 300ms ease;
}

.user-profile__logout:hover {
    background-color: var(--button-secondary-background);
}

.user-profile__logout .mat-icon {
    margin-right: 10px;
}

.user-profile__avatar {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 50px;
}

.user-profile__username {
    font-size: 24px;
}

.user-profile__show-mode {
    margin-bottom: 50px;
}

.user-profile__show-mode button {
    border: none;
    color: var(--text-color);
    background: 0;
    margin-right: 28px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    border-radius: 999px;
    transition: background-color 400ms ease;
}

@media(max-width:350px) {
    .user-profile__show-mode button {
        margin-right: 7px;
        padding: 0 10px;
    }
}

.user-profile__show-mode button:hover {
    text-decoration: underline;
}

.user-profile__show-mode-active {
    background-color: var(--button-secondary-background) !important;
}


.user-profile__posts-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.user-profile__post {
    margin-bottom: 20px;
    text-decoration: none;
    
}

.user-profile__post a {
    text-decoration: none;
    color: inherit;
}

.user-profile__post-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.user-profile__post-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 12px;
}

.user-profile__content {
    font-size: 17px;

}

.user-profile__like {
    display: flex;
    align-items: center;
    margin: 20px 0 30px 0;
}

.user-profile__like-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile__like-btn img {
    width: 32px;
    height: 32px;
}

.user-profile__like-quantity {
    font-size: 20px;
}

.user-profile__comments-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.user-profile__comments a {
    text-decoration: none;
    font-size: 20px;
    color: inherit;
}

.user-profile__comment-text {
    margin-bottom: 5px;
}

.user-profile__comment-postTitle {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}

.user-profile__error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.user-profile__error-title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.user-profile__error-subtitle {
    font-size: 24px;
    text-align: center;
}

.user-profile__like {
    display: flex;
    align-items: center;
    margin: 20px 0 30px 0;
}

.user-profile__like-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile__like-icon {
    color: var(--main-color);
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.user-profile__like-quantity {
    font-size: 20px;
}

.active {
    border-bottom: var(--border-color) solid 1px !important;
}

.user-pfofile__not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 50px;
    font-weight: 600;
}