.user-profile {
    margin: 128px auto;
    width: 640px;
    color: var(--text-color);
    padding-bottom: 64px;

    @media (max-width: 992px) {
        width: 90%;
        margin: 96px auto;
    }
    
    @media (max-width: 767px) {
        width: 95%;
    }

    &__title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    &__user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    
    &__user-info {
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
            width: 100%;
            flex-direction: column;
        }
    }
    
    &__logout {
        display: flex;
        align-items: center;
        background-color: var(--main-background-color);
        border: 0;
        color: var(--text-color);
        border: 1px solid var(--border-color);
        padding: 10px 20px;
        border-radius: 999px;
        cursor: pointer;
        transition: all 300ms ease;
    
        &:hover {
            background-color: var(--button-secondary-background);
        }
        
        .mat-icon {
            margin-right: 10px;
        }
    }
    
    &__avatar {
        width: 128px;
        height: 128px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 50px;

        @media (max-width: 767px) {
            width: 200px;
            height: 200px;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    
    &__username {
        font-size: 24px;

        @media (max-width: 767px) {
            font-size: 36px;
            margin-bottom: 20px;
        }
    }
    
    &__show-mode {
        margin-bottom: 50px;
    
        button {
            border: none;
            color: var(--text-color);
            background: 0;
            margin-right: 28px;
            cursor: pointer;
            height: 40px;
            line-height: 40px;
            padding: 0 14px;
            border-radius: 999px;
            transition: background-color 400ms ease;
    
            @media(max-width:350px) {
                margin-right: 7px;
                padding: 0 10px;
            }
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    &__show-mode-active {
        background-color: var(--button-secondary-background) !important;
    }
    
    
    &__posts-title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    &__post {
        margin-bottom: 20px;
        text-decoration: none;
    
        a {
            text-decoration: none;
            color: inherit;
        }
    
        &-title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 30px;
        }
    
        &-image {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
            border-radius: 12px;
        }
    
        &-content {
            font-size: 17px;
        }
    }
    
    &__like {
        display: flex;
        align-items: center;
        margin: 20px 0 30px 0;
    
        &-btn {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        &-icon {
            color: var(--text-color);
            width: 32px;
            height: 32px;
            font-size: 32px;
        }
        
        &-quantity {
            font-size: 20px;
        }
    }
    
    &__comments-title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    &__comments {
        a {
            text-decoration: none;
            font-size: 20px;
            color: inherit;
        }
    }
    
    &__comment {
        &-text {
            margin-bottom: 5px;
        }
        
        &-postTitle {
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 10px;
        }
    }
    
    &__error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50vh;
    
        &-title {
            font-size: 30px;
            font-weight: 600;
            text-align: center;
        }
        
        &-subtitle {
            font-size: 24px;
            text-align: center;
        }
    }
    
    .user-pfofile__not-found {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        font-size: 50px;
        font-weight: 600;
    }
}