<aside class="aside">
    <a href="/" class="aside__home">Home</a>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Темы</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink="/posts/природа">Природа</a>
                <a mat-list-item routerLink="/posts/погода">Погода</a>
                <a mat-list-item routerLink="/posts/политика">Политика</a>
                <a mat-list-item routerLink="/posts/технолигии">Технологии</a>
                <a mat-list-item routerLink="/posts/культура">Культура</a>
                <a mat-list-item routerLink="/posts/общество">Общество</a>
            </mat-nav-list>
        </mat-expansion-panel>
    </mat-accordion>
</aside>