<aside class="aside">
    <div class="aside__header">
        <a href="/" class="aside__home">Главная</a>
        <a href="/create-post" class="aside__create-post">Написать пост</a>
    </div>
    <mat-accordion class="aside__accordion">
        <mat-expansion-panel class="aside__accordion mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title>Темы</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink="/posts/природа">Природа</a>
                <a mat-list-item routerLink="/posts/погода">Погода</a>
                <a mat-list-item routerLink="/posts/политика">Политика</a>
                <a mat-list-item routerLink="/posts/технолигии">Технологии</a>
                <a mat-list-item routerLink="/posts/культура">Культура</a>
                <a mat-list-item routerLink="/posts/общество">Общество</a>
            </mat-nav-list>
        </mat-expansion-panel>
    </mat-accordion>
</aside>