.register {
    margin: 128px auto;
    width: 640px;
}

.register__form {
    display: flex;
    flex-direction: column;
}

.register__form input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
}
