<div class="register">
    <form class="register__form" (ngSubmit)="onSubmit()" autocomplete="off">
        <input type="text" id="username" name="username" placeholder="Имя пользователя" [(ngModel)]="username" required>
        <input type="password" id="password" name="password" placeholder="Пароль" [(ngModel)]="password" required>
        <input type="password" id="confrimPassword" name="confirmPassword" placeholder="Повторите пароль" [(ngModel)]="confirmPassword" required>
        <div class="register__input-file">
            <label for="file">Выбрать изображение</label>
            <input type="file" name="file" id="image" (change)="onFileSelected($event)" accept="image/*">
        </div>
        <button class="register__submit" type="submit">Зарегистрироваться</button>
    </form>
    <div class="register__errors">
        <div *ngIf="resetPasswordError">Пароли не совпадают</div>
        <div *ngIf="usernameError">Пользователь с таким именем уже существует</div>
    </div>
</div>

