$border-color: var(--border-color);
$main-background-color: var(--main-background-color);
$text-color: var(--text-color);
$button-accent-background-second: var(--button-accent-background-second);
$button-accent-color-second: var(--button-accent-color-second);
$button-accent-background-second-hover: var(--button-accent-background-second-hover);
$button-secondary-background: var(--button-secondary-background);
$button-secondary-background-hover: var(--button-secondary-background-hover);

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $border-color;
  background-color: $main-background-color;
  z-index: 10000;

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;

    .header__auth {
      a {
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        border-radius: 6px;
        padding: 5px 10px;
        cursor: pointer;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    .header__title {
      font-size: 32px;
      color: $text-color;
      text-decoration: none;

      @media (max-width: 1200px) {
        margin-left: 96px;
      }

      @media (max-width: 767px) {
        margin-left: 16px;
      }
    }

    .header__profile {
      display: flex;
    }

    .header__register {
      background-color: $button-accent-background-second;
      color: $button-accent-color-second;
      margin-right: 20px;
      transition: all 300ms ease;

      &:hover {
        background-color: $button-accent-background-second-hover;
      }
    }

    .header__login {
      background-color: $button-secondary-background;
      color: $text-color;
      transition: all 300ms ease;

      &:hover {
        background-color: $button-secondary-background-hover;
      }

      @media (max-width: 1200px) {
        margin-right: 16px;
      }
    }

    .header__profile-avatar {
      object-fit: cover;
      width: 48px;
      height: 48px;
      border-radius: 50%;

      @media (max-width: 1200px) {
        margin-right: 16px;
      }

      @media (max-width: 767px) {
        margin-right: 64px;
      }
    }
  }

  @media (max-width: 1200px) {
    .header__navbar {
      width: 100%;
    }
  }
}
