.header {
  background-color: #44464d;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  a {
    margin-right: 10px;
    color: #c9cccf;
    text-decoration: none;
    font-size: 18px;
  }
  .header__title {
    font-size: 32px;
  }
}