.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #000000;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  a {
    margin-right: 10px;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
  }
  .header__title {
    font-size: 32px;
  }
}

.profile {
  position: relative;
  display: flex;
}

.profile__dropdown {
  cursor: pointer;
  font-size: 18px;
  color: #c9cccf;
  padding: 10px;
}

.profile__menu {
  display: none;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 0%;
  z-index: 1;
  padding: 10px 20px;
  background-color: #44464d;
  border: 1px solid #000000;
  border-radius: 12px; 
  transition: 500ms ease all;
  width: 150px;
}

.profile__menu a {
  margin-bottom: 10px;
}

.profile__menu button {
  width: 50%;
}

.profile__dropdown:hover + .profile__menu {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.profile__menu:hover {
  display: flex;
  flex-direction: column;
  opacity: 1;
}