<header class="header">
    <nav class="header__navbar">
        <a [routerLink]="['/']" class="header__title">MindMaze</a>
        <div>
            <a *ngIf="!isUserLogIn" [routerLink]="['/register']">Регистрация</a>
            <a *ngIf="!isUserLogIn" [routerLink]="['/login']">Вход</a>
        </div>
        <div class="header__profile" *ngIf="isUserLogIn">
            <a [routerLink]="['/profile']">
                <img class="header__profile-avatar" [src]="'http://localhost:3000/posts/images/' + user.avatar" alt="Аватарка">
            </a>                        
        </div>
    </nav>
</header>
