.post-list {
    width: 640px;
    margin: 128px auto;
    color: #c9cccf;

    .post-list__search-form {
        margin-bottom: 20px; 
    }

    .post-list__form-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .post-list__searchTerm {
        width: 70%;
        margin-right: 20px;
        padding: 10px;
        font-size: 20px;
    }

    .post-list__topic {
        width: 25%;
        padding: 10px;
        font-size: 20px;
    }



    .post-list__post {
        background-color: #323338;
        padding: 20px 24px;
        margin-bottom: 20px;
    }

    .post-list__post a {
        text-decoration: none;
        color: inherit;
    }

    .post-list__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .post-list__content {
        font-size: 17px;

    }
}