<div class="post-list">
    <div class="post-list__search-form">
        <form [formGroup]="searchForm" (ngSubmit)="onSearchInput()">
            <div class="post-list__form-group">
                <input class="post-list__searchTerm" type="text" formControlName="searchTerm" placeholder="Найти статью">
                <select class="post-list__topic" formControlName="topic">
                    <option value="">Тема</option>
                    <option value="природа">Природа</option>
                    <option value="погода">Погода</option>
                    <option value="политика">Политика</option>
                    <option value="технологии">Технологии</option>
                    <option value="культура">Культура</option>
                    <option value="общество">Общество</option>
                </select>
            </div>
        </form>
    </div>
    <div *ngFor="let post of posts" class="post-list__post">
        <a [routerLink]="['/post', post._id]">
            <div class="post-list__title">{{ post.title }}</div>
            <div class="post-list__content">{{ post.content.slice(0, 79) }}</div>
        </a>
    </div>
</div>
