.post-list {
    width: 640px;
    margin: 128px auto;

    .post-list__search-form {
        margin-bottom: 20px; 
    }

    .post-list__form-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .post-list__searchTerm {
        width: 70%;
        margin-right: 20px;
        padding: 10px;
        font-size: 20px;
    }

    .post-list__topic {
        width: 25%;
        padding: 10px;
        font-size: 20px;
    }



    .post-list__post {
        padding: 20px 24px;
        margin-bottom: 20px;
        text-decoration: none;
        
    }

    .post-list__post a {
        text-decoration: none;
        color: inherit;
    }

    .post-list__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .post-list__post-image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        border-radius: 12px;
    }

    .post-list__content {
        font-size: 17px;

    }
}

.post-list__sort-buttons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 10px auto;
}

.post-list__sort-buttons button {
    background: none;
    border: 0;
    border-bottom: 1px solid #00000000;
    font-size: 24px;
    color: #c11fc7;
    transition: all 500ms ease;
}

.post-list__like {
    display: flex;
    align-items: center;
    margin: 20px 0 30px 0;
}

.post-list__like-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-list__like-btn img {
    width: 32px;
    height: 32px;
}

.post-list__like-quantity {
    font-size: 20px;
}

.active {
    border-bottom: #c11fc7 solid 1px !important;
}