<div class="post-detail">

  <div class="post-detail__post" *ngIf="post">
      <p class="post-detail__title">{{ post.title }}<p>
      <img class="post-detail__image" [src]="imageSrc" alt="">
      <p class="post-detail__content">{{ post.content }}</p>
      <div class="post-detail__info">
        <a class="post-detail__author" [routerLink]="['/profile', post.username]"> {{ post.username }}</a>
        <p class="post-detail__date">{{ post.date | date }}</p>
      </div>
  </div>
  <div class="post-detail__like">
    <button class="post-detail__like-btn" (click)="toggleLike()">
        <mat-icon class="post-detail__like-icon" *ngIf="!isLiked">favorite_border</mat-icon>
        <mat-icon class="post-detail__like-icon" *ngIf="isLiked">favorite</mat-icon>
    </button>
    <div class="post-detail__like-quantity"> {{ post?.likes?.length }} </div>
    <div class="post-detail__like-error" *ngIf="loginLikeError">Войдите в аккаунт</div>
</div>
  <div class="post-detail__edit" *ngIf="isAuthor">
    <a [routerLink]="['/edit-post', post?._id]">Редактировать пост</a>
  </div>

  <div class="post-detail__comments" *ngIf="post">
    <form class="post-detail__form" (submit)="addComment()" autocomplete="off">
      <div class="post-detailt__comments-title">Комментарии</div>
      <textarea class="post-detail__comment-textarea" id="text" name="text" placeholder="Комментарий" [(ngModel)]="newComment.text" required></textarea>
      <button class="post-detail__comment-submit" type="submit">Добавить комментарий</button>
      <div class="post-detail__comments-errors">
        <div *ngIf="loginCommentError">Войдите в аккаунт, чтобы писать комментарии</div>
        <div *ngIf="emptyCommentError">Комментарий не может быть пустым</div>
      </div>
    </form>
    <ul>
      <li class="post-detail__comment" *ngFor="let comment of comments">
        <a [routerLink]="['/profile', comment.author]" class="post-detail__comment-author">{{ comment.author }}</a> 
        <div class="post-detail__comment-text">{{ comment.text }}</div>
      </li>
    </ul>
  </div>

</div>
