<div class="post-detail" *ngIf="post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <p>Дата: {{ post.date | date }}</p>
</div>

<form (submit)="addComment()" autocomplete="off">
  <div class="form-group">
    <label for="text">Текст</label>
    <input type="text" id="text" name="text" [(ngModel)]="newComment.text" required>
  </div>
  <button type="submit">Добавить комментарий</button>
</form>

<div class="post-detail" *ngIf="post">
  <h3>Комментарии</h3>
  <ul>
    <li *ngFor="let comment of comments">
      <strong>{{ comment.author }}:</strong> {{ comment.text }}
    </li>
  </ul>
</div>
