.login {
    margin: 128px auto;
    width: 640px;
}

@media (max-width: 767px) {
    .login {
        width: 95%;
    }
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login__form input {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
}

.login__errors {
    margin-top: 20px;
    font-size: 24px;
    color: #ff0000;
    font-weight: 600;
}