$text-color: var(--text-color);
$text-input-background: var(--text-input-background);
$button-accent-background: var(--button-accent-background);
$button-accent-hover-background: var(--button-accent-hover-background);
$error-color: var(--error-color);

.login {
  margin: 128px auto;
  width: 640px;;

  @media (max-width: 767px) {
    width: 90%;
    margin: 96px auto;
  }

  @media (max-width: 767px) {
    width: 95%;
  }

  &__form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 20px;
      font-size: 20px;
      padding: 10px;
      color: $text-color;
      background-color: $text-input-background;
      border-radius: 12px;
      border: 0;
    }
  }

  &__submit {
    width: 200px;
    height: 40px;
    border-radius: 12px;
    border: 0;
    background-color: $button-accent-background;
    color: $text-color;
    font-size: 20px;
    transition: all 300ms ease;
    cursor: pointer;

    &:hover {
      background-color: $button-accent-hover-background;
    }
  }

  &__errors {
    margin-top: 20px;
    font-size: 24px;
    color: $error-color;
    font-weight: 600;
  }
}
