<div class="login">
    <form class="login__form" (ngSubmit)="onSubmit()" autocomplete="off">
        <input type="text" id="username" name="username" placeholder="Имя пользователя" [(ngModel)]="username" required>
        <input type="password" id="password" name="password" placeholder="Пароль" [(ngModel)]="password" required>
        <button class="login__submit" type="submit">Войти</button>
    </form>
    <div class="login__errors">
        <div *ngIf="loginError">Неверный логин или пароль</div>
    </div>
</div>

