.login {
    margin: 128px auto;
    width: 640px;
}

@media (max-width: 767px) {
    .login {
        width: 90%;
        margin: 96px auto;
    }
}

@media (max-width: 767px) {
    .login {
        width: 95%;
    }
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login__form input {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    color: var(--text-color);
    background-color: var(--text-input-background);
    border-radius: 12px;
    border: 0;
}

.login__submit {
    width: 200px;
    height: 40px;
    border-radius: 12px;
    border: 0;
    background-color: var(--button-accent-background);
    color: var(--text-color);
    font-size: 20px;
    transition: all 300ms ease;
    cursor: pointer;
}

.login__submit:hover {
    background-color: var(--button-accent-hover-background);
}

.login__errors {
    margin-top: 20px;
    font-size: 24px;
    color: #ff0000;
    font-weight: 600;
}