.edit-post {
    margin: 128px auto;
    width: 640px;
}

@media (max-width: 767px) {
    .edit-post {
        width: 90%;
        margin: 96px auto;
    }
}


@media (max-width: 767px) {
    .edit-post {
        width: 95%;
    }
}

.edit-post__form {
    display: flex;
    flex-direction: column;
}

.edit-post__form input {
    height: 32px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    color: var(--text-color);
    background-color: var(--text-input-background);
    outline: 0;
    border: 0;
    border-radius: 6px;
}


.edit-post__form textarea {
    resize: none;
    height: 160px;
    font-size: 20px;
    outline: 0;
    padding: 10px;
    margin-bottom: 20px;
    color: var(--text-color);
    background-color: var(--text-input-background);
    border: 0;
    border-radius: 6px;
}


.edit-post__form select {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--text-input-background);
    color: var(--text-color);
    border: 0;
    border-radius: 6px;
}

.edit-post__input-file {
    position: relative;
    margin-bottom: 40px;
}

.edit-post__input-file label {
    background-color: var(--text-input-background);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    font-size: 20px;
}

.edit-post__input-file input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.edit-post__submit {
    width: 200px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
    background-color: var(--button-accent-background);
    border: 0;
    border-radius: 12px;
	cursor: pointer;
    transition: all 300ms ease;
}

.edit-post__submit:hover {
    background-color: var(--button-accent-hover-background);
}

.edit-post__error {
    margin-top: 20px;
}

.edit-post__error div {
    font-size: 24px;
    color: #ff0000;
    font-weight: 600;
}