.edit-post {
    margin: 128px auto;
    width: 640px;
}

.edit-post__form {
    display: flex;
    flex-direction: column;
}

.edit-post__form input {
    height: 32px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.edit-post__form textarea {
    resize: none;
    height: 160px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.edit-post__form select {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 40px;
}

.edit-post__error {
    margin-top: 20px;
    font-size: 24px;
    color: #ff0000;
    font-weight: 600;
}