$text-color: var(--text-color);
$text-input-background: var(--text-input-background);
$button-accent-color: var(--button-accent-color);
$button-accent-background: var(--button-accent-background);
$button-accent-hover-background: var(--button-accent-hover-background);
$error-color: var(--error-color);

.edit-post {
  margin: 128px auto;
  width: 640px;

  @media (max-width: 767px) {
    width: 90%;
    margin: 96px auto;
  }

  @media (max-width: 767px) {
    width: 95%;
  }

  &__form {
    display: flex;
    flex-direction: column;

    input,
    textarea,
    select {
      font-size: 20px;
      padding: 10px;
      margin-bottom: 20px;
      color: $text-color;
      background-color: $text-input-background;
      outline: 0;
      border: 0;
      border-radius: 6px;
    }

    input {
      height: 32px;
    }

    textarea {
      resize: none;
      height: 200px;
    }

    select {
      margin-bottom: 20px;
    }
  }

  &__input-file {
    position: relative;
    margin-bottom: 40px;

    label {
      background-color: $text-input-background;
      color: $text-color;
      padding: 10px 20px;
      border-radius: 6px;
      cursor: pointer;
      display: flex;
      font-size: 20px;
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
      width: 100%;
      height: 100%;
    }
  }

  &__submit {
    width: 200px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    color: $button-accent-color;
    background-color: $button-accent-background;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    transition: all 300ms ease;

    &:hover {
      background-color: $button-accent-hover-background;
    }
  }

  &__error {
    margin-top: 20px;

    div {
      font-size: 24px;
      color: $error-color;
      font-weight: 600;
    }
  }
}
