<div class="create-post">
    <form class="create-post__form" (submit)="onSubmit()">
        <input type="text" id="title" name="title" placeholder="Заголовок" [(ngModel)]="post.title" required>
        <textarea id="content" name="content" placeholder="Текст" [(ngModel)]="post.content" required></textarea>
        <select id="topic" name="topic" [(ngModel)]="post.topic">
            <option value="">Выбрать тему</option>
            <option value="природа">Природа</option>
            <option value="погода">Погода</option>
            <option value="политика">Политика</option>
            <option value="технологии">Технологии</option>
            <option value="культура">Культура</option>
            <option value="общество">Общество</option>
        </select>
        <input type="file" id="image" (change)="onFileSelected($event)" accept="image/*">
        <button class="submit-button" type="submit">Создать пост</button>
    </form>
</div>