.create-post {
    margin: 0 auto;
    width: 640px;
    margin-top: 100px;
}

.create-post__form {
    display: flex;
    flex-direction: column;
}

.create-post__form input {
    height: 32px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.create-post__form textarea {
    resize: none;
    height: 160px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.create-post__form select {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 40px;
}