:root {
	--main-background-color: #0b1416ff;
	--text-color: #f2f4f5;
	--text-accent-color: #0045ac;
	--border-color: #242c2e;
	--text-input-background: #1a282d;
	--hover-color: #223237;
	--link-color: #b8c5c9;
	--link-hover-color: #0045ac;
	--button-accent-background: #0045ac;
	--button-accent-hover-background: #0d60dd;
	--button-accent-color: #ffffff;
	--button-accent-background-second: #ffffff;
	--button-accent-background-second-hover: #dddddd;
	--button-accent-color-second: #000000;
	--button-secondary-background: #2a3333;
	--button-secondary-background-hover: #363e42;	
	--error-color: #ff0000;
	--caret-color: #daffffff;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: var(--main-background-color);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
